/.dapper
/.cache
/.vscode
/bin
/build
!/cmd/prometheus-federator/fs/.gitkeep
/cmd/prometheus-federator/fs/*
!/cmd/helm-project-operator/fs/.gitkeep
/cmd/helm-project-operator/fs/*
/dist
*.swp
.idea
/helm-project-operator
/prometheus-federator
/.charts-build-scripts
*.DS_Store
dev/
kubeconfig.yaml
get_helm.sh