name: "[helm-project-operator] ci"

env:
  CGO_ENABLED: 0
  YQ_VERSION: v4.44.3

on:
  pull_request:
  workflow_call:
    inputs:
      skip_build:
        default: 'false'
        required: false
        type: string

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        arch:
          - x64
          - arm64
    runs-on : runs-on,image=ubuntu22-full-${{ matrix.arch }},runner=4cpu-linux-${{ matrix.arch }},run-id=${{ github.run_id }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name : setup Go
        uses : actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Install mikefarah/yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_${{ matrix.arch == 'x64' && 'amd64' || matrix.arch  }} -O /usr/bin/yq && sudo chmod +x /usr/bin/yq;
      - uses: azure/setup-helm@v3
      - name: Perform CI
        run : BUILD_TARGET=helm-project-operator make ci
  build-images:
    if: ${{ inputs.skip_build != 'true' }}
    strategy:
      matrix:
        arch:
          - x64
          - arm64
    runs-on : runs-on,image=ubuntu22-full-${{ matrix.arch }},runner=4cpu-linux-${{ matrix.arch }},run-id=${{ github.run_id }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name : Set up Go
        uses : actions/setup-go@v5
        with:
          go-version: 1.22
      - name : Export image version
        run : |
          source ./scripts/version
          echo IMAGE=$IMAGE >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 
      - name: Build Helm Project Operator image 
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./package/Dockerfile-helm-project-operator
          push: false
          tags: ${{ env.IMAGE }}
