name : Integration test

permissions:
  contents : read

on:
  workflow_call:
  push:
    branches:
      - main
      - release/v[0-9]+.(0|x)
      - release/v[0-9]+.[0-9]+.[0-9]+
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '*.md'
    - '.gitignore'
    - 'CODEOWNERS'
    - 'LICENSE'


jobs:
  test:
    strategy:
      matrix:
        arch:
          - x64
          - arm64
        K3S_VERSION :
          - v1.32.9-k3s1
          - v1.34.1-k3s1
    name : integration-test
    runs-on: ${{ github.repository == 'rancher/prometheus-federator' && format('runs-on,image=ubuntu22-full-{1},runner=4cpu-linux-{1},run-id={0}', github.run_id, matrix.arch) || 'ubuntu-latest' }}
    steps:
    - name : Checkout repository
      uses : actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Install go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
      with:
        go-version: 1.24
    - name : Install helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
      with:
        version: 'v3.19.5'
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name : Install k3d
      run : ./.github/workflows/e2e/scripts/install-k3d.sh
    - name : Setup test environment
      run : |
        CLUSTER_NAME=test-cluster K3S_VERSION=${{ matrix.K3S_VERSION }} ./.github/workflows/e2e/scripts/setup-cluster.sh
        k3d kubeconfig get test-cluster > kubeconfig.yaml
    - name : Debug kubeconfig
      run : cat kubeconfig.yaml 
    - name : Build helm-project-operator
      run : BUILD_TARGET=helm-project-operator ./scripts/build
    - name : Validate build
      run : ./scripts/validate-ci
    - name : Package helm-project-operator
      run : |
        BUILD_TARGET=helm-project-operator ./scripts/package
        BUILD_TARGET=helm-project-operator source ./scripts/version
        k3d image import -c test-cluster $IMAGE
    - name : Debug k3d images 
      run : docker exec k3d-test-cluster-server-0 crictl images
    - name : Run e2e tests
      run : |
        KUBECONFIG=$KUBECONFIG ./scripts/integration
      env:
        KUBECONFIG: ${{ github.workspace }}/kubeconfig.yaml